body {
  margin: 0;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height : 100vh;
  width: 100vw;
  background-color: rgb(157, 184, 243);
  overflow-x: hidden;
  color: black;
}

.poster {
  height: 125vh;
  max-width: 1000px;
  position: relative;
  top: -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert {
  color: #b3332a;
}

#App p {
  max-width: 800px;
}

#content {
  position: relative;
  top: 250px;
  height: 400px;
  max-width: 600px;
  width: 100%;
}

#content .input {
  padding: 5px;
}

#content .submit .butt {
  padding: 10px;
}

#content .inputStuff {
  padding:10px;
}
